@import '../styles/common.css';
@import '../styles/mixins/button.css';

my-counter {
  display: block;
  margin: 10px;
  font-weight: bold;
  font-size: calc(var(--usk-button-size) / 2);

  span {
    width: 2em;
    display: inline-block;
    text-align: center;
  }

  button {
    @mixin button;
    background-color: var(--usk-brand-background-color);
  }
}
