@define-mixin button {
  width: var(--usk-button-size);
  height: var(--usk-button-size);
  line-height: var(--usk-button-size);
  color: var(--usk-button-text-color);
  padding: 0;
  display: inline-block;
  border-radius: 10px;
  font-size: inherit;
  border: none;
}
